.background-filter {
	position: relative;
}
.background-filter::after {
	-webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
	backdrop-filter: blur(5px); /* Supported in Chrome 76 */
	
	content: "";
	display: block;
	position: absolute;
	width: 99%; height: 100%;
	top: 0;	
}

	
.color-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;

    background-color: $primary-color;
    opacity: 0.7;
    z-index: 1;
}

.color-filter:hover {
    // position: relative;
    background-color: $entrance-color;
    color: $primary-color;
    font-weight: bold;

}


.banner__list--bg1, .banner__list--bg2, .banner__list--bg1{
    background-size: cover;
}
.banner__list--bg1 {
    background-image: url(https://bit.ly/2Dwoxd7);
}

.banner__list--bg2 {
    background-image: url(https://bit.ly/2OUteif);
}

.banner__list--bg3 {
    background-image: url(https://bit.ly/2xPn7Eq);
}


.banner {
    padding: 0px $pd-m;
    margin-bottom: 247px;

    @include pad{
        padding: 0;
        margin-bottom: 0;
    }


    .banner__img{
        background-image: url(https://bit.ly/2OhbMHr);
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 1.9;
        width: 100%;
    }

    .banner__list{
        display: flex;
        justify-content: center;
        

        li {
            margin-top: -100px;

            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;

            writing-mode: vertical-lr;
            aspect-ratio: 1;

            font-size: $fz-150;
            letter-spacing: 10px;
            color: #fff;

            border-right: 1px solid white;

            @include pad{
                width: 33.3%;
                aspect-ratio: 0.7;
                margin-top: 0px;

            }


        }

        li:last-child {
            border-left: none; 
        }
        
        
    }

    
}

.article{
    // display: flex; 

   // width: 100%;
    aspect-ratio: 2.5;

    padding: 0 $pd-sm;
    margin-bottom: $m-lg;

    @include pad{
        padding: 0;
        margin-bottom: 0;
    }
    
}

.article__body {

    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    @include pad{
        justify-content: center;
        height: auto;
        top: 0%;
    }
}

.body__text{
    writing-mode: vertical-rl;
    line-height: 2.5;
    padding: 70px 0px;

    @include pc-m{
        padding: $pd-m 0;
    }

    @include pad{
        width: 100%;
        writing-mode: horizontal-tb;
        padding: $pd-sm
    }
}

.body__img{
    
    
    height: 110%;
    aspect-ratio:1;
    background-size: cover;

    // margin: auto 0;
    // top: 0; bottom: 0;

    @include pad {
        width: 100%;
        height: auto;
    }
    
}

.body__quote {
    height: 110%;
    img {
        width: 90px;
    }

    @include pad {
        display: none;
    }
}

.body__quote--sm {
    display: none;
    img {
        height: 60px;
    }
    @include pad {
        padding:$pd-sm 0 ;
        background-color: #fff;
        display: flex;
        justify-content: center;
    }
}



.body__img__url1 {
    background-image: url(https://bit.ly/2xPn7Eq)
}

.body__img__url2 {
    background-image: url(https://bit.ly/2zzAQS4)
}


.home__list__quote {
    display: block;
    width: 90px;
    margin: 0 auto;
    margin-bottom: $m-lg;

    @include pad {
        display: none;
    }

}

.home__list__quote--sm {
    display: none;

        
    @include pad {
        padding:$pd-sm 0 ;
        background-color: #fff;
        display: flex;
        justify-content: center;

        img{
            height: 60px;
        }
    }
}

.home__list {
    // &>.card {
    //     width: 31%;
    // }

    @include pad {
        
        // .card:not(:first-child) {
        //     display: none;
        // }
        .card {
            display: none;
        }

        .card:first-child {
            display: block;
        }
    }
}