.m0-a {
    margin: 0 auto;
}

.lh-150 {
    line-height: 1.5;
}

.fw-b {
    font-weight: bold;
}

.h-wrapper {
    display: flex;
}

.f-wrap-reverse-rwd {
    @include pad{
        flex-wrap: wrap-reverse;
    }
}

.f-wrap-rwd {
    @include pad{
        flex-wrap: wrap;
    }

    
}

.rwd-full{

    @include pad{
        flex-wrap: wrap;
    }

    &>div{
        @include pad {
            width: 100%;
        }
    }
}

.rwd-full-reverse{

    @include pad{
        flex-wrap: wrap;
    }
    
    &>div{
        @include pad {
            width: 100%;
        }
    }
}