
$main-color:#8DA291;
$primary-color:#3F5D45;
$secondary-color:#EAF0ED;
$entrance-color:#FFE180;


$pd-sm: 30px;
$pd-m: 42px;
$pd-lg:90px;
$pd-xl: 122px;

$m-xs: 20px;
$m-sm: 30px;
$m-m: 60px;
$m-lg:90px;


$fz-100: 1rem; //16
$fz-125: 1.25rem; //20
$fz-150: 1.5rem; //24
$fz-225: 2.25rem; //36
